{{template "admin" .}}
{{define "content"}}
<div>
    <h2>All reservation</h2>
    {{ $res := index .Data "reservations" }}

    <div class="overflow-x-auto">
        <table class="min-w-full table-auto border-collapse border border-gray-700 text-gray-400">
            <thead class="bg-gray-800 text-gray-300">
                <tr>
                    <th class="px-4 py-2 border border-gray-700 text-left">Id</th>
                    <th class="px-4 py-2 border border-gray-700 text-left">Last Name</th>
                    <th class="px-4 py-2 border border-gray-700 text-left">Room</th>
                    <th class="px-4 py-2 border border-gray-700 text-left">Arrival</th>
                    <th class="px-4 py-2 border border-gray-700 text-left">Departure</th>
                </tr>
            </thead>
            <tbody>
                {{ range $res }}
                    <tr class="hover:bg-gray-700">
                        <td class="px-4 py-2 border border-gray-700">{{ .ID }}</td>
                        <td class="px-4 py-2 border border-gray-700">
                            <a href="/admin/reservations/all/{{.ID}}">{{ .LastName }}</a>
                        </td>
                        <td class="px-4 py-2 border border-gray-700">{{ .Room.RoomName }}</td>
                        <td class="px-4 py-2 border border-gray-700">{{ humanDate .StartDate }}</td>
                        <td class="px-4 py-2 border border-gray-700">{{ humanDate .EndDate }}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{end}}